extends top-bar

block content
    p=username
    if isFriend 
        form(method='POST' action=('removefriend/' + id + '/' + currentUserId))
            button Remove Friend
    else if requestSent
        button(disabled='true') Request Sent 
    else
        form(method='POST' action=('addfriend/' + id + '/' + currentUserId))
            button Add Friend
    ul Friends:
        for friend in friends
            li=friend
    if friendRequests
        ul Friend Requests:
            for request in friendRequests
                li
                    a(href=request.url)=request.username
